{% extends "base.html" %}
{%block start%}
<style>
  /* Remove textarea resize corner lines */
  textarea.form-control {
    resize: none;
    height: 10px; /* adjust height as needed */
  }
</style>
<div class="container mt-5">
<form class=" col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
  {%csrf_token%}
  <h1>Add Recipe</h1>
  <hr>
  <div class="form-group">
    <label for="exampleInputEmail1">Name Of Recipe</label>
    <input type="text" class="form-control" name="recipe_name" placeholder="Enter Recipe Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Recipe Ingridients</label>
    <textarea type="text" class="form-control" name="description" placeholder="Ingridients"></textarea>
  </div>
  <div class="form-group">
    <label>Upload File</label>
    <input name="recipe_image" type="file" class="form-control">
  </div>
    <hr>
  <button type="submit" class="btn btn-success">Add Recipe</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Recipe Name</th>
      <th scope="col">Ingridients</th>
      <th scope="col">Recipe Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {%for recipe in recipes%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{recipe.recipe_name_from_models}}</td>
      <td>{{recipe.recipe_description_from_models}}</td>
      <td>
        <img src="/media/{{recipe.recipe_image_from_models}}" style="height:100px">
      </td>
      <td>
        <a href="{% url 'delete_recipe' recipe.id%}" class='btn btn-danger'> Delete</a>
        <a href="{% url 'update_recipe' recipe.id%}" class='btn btn-success'>Update</a>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
{%endblock%}